body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit',sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

img{
  width: 100%;
  border-radius:1.2rem;
}
h1{
  font-size: 15px;
  color:hsl(218, 44%, 22%);
  margin: 1rem;
}
p{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin: 1rem;
}
a{
  color:hsl(218, 44%, 22%);
  text-decoration: none;
}
.container{
  width:20rem;

  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
  padding: 1.5rem;
}

.attribution{
  margin:1.5rem;

}

@media(max-width:992px){
  .container{
    width: 80%;

  }

}
